header{
    height: 80px;
    background-color: #0ecabb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

header nav{
    float: right;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #000;
}

.burger{
    display: none;
}

.sidebar-menu{
    display: none;
    position: absolute;
    top: 130px;
    right: 10px;
    height: 30vh;
    width: 60vw;
    background-color: #0ecabaf5;
    z-index: 1;
    padding: 10px;
}

.sidebar-menu ul {
    width: 100%;
    height: calc(100% - 40px);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.sidebar-menu ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.active{
    display: block;
}


/* Media queries */

@media screen and (max-width: 1000px){

    header{
        padding: 20px;
    }

    header nav ul{
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    header nav{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .burger{
        display: block;
        height: 35px;
        width: 35px;
    }

    .burger .fa-bars{
        color: #fff;
        font-size: 2em;
        cursor: pointer;
    }
}


/* This is for footer section */

footer{
    min-height: 70px;
    background-color: #0ecabb;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #fff;
}

footer h3{
    width: 100%;
    animation: footer-corusel 5s linear infinite;
}

@keyframes footer-corusel {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(50%);
    }
}