
/* Main begin */
/* Hero section begin */

.hero-section .hero-section__content a:hover{
    background-color: #fff;
    color: #000;
}

.hero-section{
    background-image: url('https://photos.lensculture.com/large/07f0b614-4427-49c8-bb6b-492902480737.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.hero-section .hero-section__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hero-section .hero-section__content h1{
    font-size: 3em;
    font-weight: bold;
    margin: 10px;
    color: hsl(0, 0%, 100%);
}

.hero-section .hero-section__content p{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.hero-section .hero-section__content a{
    background-color: #0ecabb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

/* News section begin */

.news-section {
    height: auto;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.news-section .news-section__title{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    color: #000;
    animation: news-title 10s linear infinite;
}

@keyframes news-title {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(50%);
    }
}

.news-section .news-section__content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.news-section .news-section__content .news-section__content__item{
    width: 50%;
    height: 100%;
    background-color: #0ecabb;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-section .news-section__content .news-section__content__item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.news-section .news-section__content .news-section__content__item p {
    min-height: 70px;
    margin-bottom: 0;
}

/* Events section begin */

.events-section{
    width: auto;
    height: auto;
    background-color: #ffe10063;
    padding: 20px;
    overflow: hidden;
}

.events-section .events-section__title{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    color: #000;
}

.events-section .events-section__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.events-section .events-section__content .events-section__content__item{
    width: 45%;
    min-width: 400px;
    height: 185px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
}

.events-section .events-section__content .events-section__content__item img{
    width: 185px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


/* Media queries */

@media screen and (max-width: 1000px){

    .hero-section .hero-section__content h1{
        font-size: 2em;
    }

    .hero-section .hero-section__content p, .hero-section .hero-section__content a{
        font-size: 1em;
    }

    .news-section .news-section__content{
        flex-direction: column;
        gap: 20px;
    }

    .news-section .news-section__content .news-section__content__item{
        width: 100%;
    }

    .events-section .events-section__content .events-section__content__item{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    
        .hero-section .hero-section__content h1{
            font-size: 1.5em;
        }

        .news-section .news-section__title, .events-section .events-section__title{
            font-size: 1em;
        }
    
        .news-section .news-section__content{
            flex-direction: column;
            gap: 20px;
        }
}

@media screen and (max-width: 475px) {
    .news-section .news-section__content .news-section__content__item img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

    .events-section .events-section__content .events-section__content__item{
        padding: 10px;
        min-width: 250px;
        flex-direction: column;
        height: auto;
    }
}